body {
  margin: 0;
  font-family: "Noto Sans KR", sans-serif;
}

a {
  text-decoration: none;
  color: #323330;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 12px;
  background-color: #f0db4f;
}

.logo {
  font-size: 24px;
}

.menu {
  display: flex;
  padding-left: 0;
  list-style: none;
}

.menu li {
  padding: 8px 12px;
}

.menu li:hover {
  background-color: #ddab07;
  border-radius: 4px;
}

.icons {
  list-style: none;
  display: flex;
  font-size: 18px;
  padding-left: 0px;
}

.icons li {
  padding: 8px 12px;
}

@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .menu {
    display: block;
    text-align: center;
    width: 100%;
  }

  .menu li {
    width: 100%;
  }

  .icons {
    justify-content: center;
    width: 100%;
  }
}
